

header {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #e1bfe2;
    align-items: center;
    position: fixed;
}
  
#footer {
    position: fixed;
    background-color: #e1bfe2;
    bottom: 0;
    width: 100%;
    height: 20px;
}

h1{
    font-size:20px;
}

p.double-bottom {
    border-bottom: double;
    border-color: #9932cc;
    margin-top: 1px;
    margin-bottom: 1px;
}
      
div.vertical-line{
    width: 1px; /* Line width */
    background-color: #9932cc; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; 
}

@media screen and(max-width: 480px) {
    img {
        border: 0;
    }
}
@media screen and(min-width: 1280px) {
    img {
        border: 1px solid red;
    }
}

.sanae1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

table{  
    width: 100%;
height: 350px;
  
      border-collapse: collapse;
}

th{
    border: 1px solid black;
    background-color: #c5c5f8;
    text-align: left;
    vertical-align: middle;
}

td{
    border: 1px solid black;
    background-color: #e8e8e8;
    text-align: left;
    vertical-align: middle;
    padding: 5px;
}